#header {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
}
